/* work-sans font by google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    text-decoration: none;
    font-family:  Work Sans;
}

.body{
    max-width: 120rem;
}

/* start nav-bar style  */
header{
    padding: 2.375rem 15rem 2.375rem 15rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.nav-link{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-link-bar{
    display: flex;
    gap: 2rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
    width: 262px;
    height: 56px;
    justify-content: center;
}

.logo-img{
    width: 5.378rem;
    height: 2.5rem;
}

.logo-name{
    font-size: 2.813rem;
    font-weight: 700;
}

.nav-link > a > li{
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}
.nav-link-bar > a > li{
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-link > a > li:hover{
    border-bottom: 0.2rem solid rgb(0, 0, 0);
}

.nav-link-bar > a > li:hover{
    border-bottom: 0.2rem solid rgb(0, 0, 0);
}
/* end nav-bar style  */

/* start banner style  */
.section-one{
    padding: 0rem 15rem;
}

.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    height: 80vh;
}

.banner-description-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-description-hero-title{
    font-size: 5.938rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description-little{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 1rem;
}

.banner-btn{
    display: flex;
    margin-top: 2rem;
    gap: 1.5rem;
}

.sing-in-btn{
    padding: 1.313rem 2.5rem;
    border-radius: 3rem;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.go-rogue-btn{
    padding: 1.313rem 2.5rem;
    border-radius: 3rem;
    background: #4EC5F7;
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-description-bg{
    position: absolute;
}

.banner-hero{
    width: 711px;
}


/* start gamer-banner style */
.section-two{
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-banner-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 2.375rem 15rem 2.375rem 15rem;
}

.gamer-banner-description-hero-title{
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-banner-description-little{
    width: 32.5rem;
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin: 1.5rem 0rem;
}

.know-more-btn{
    padding: 1.313rem 2.5rem;
    border-radius: 3rem;
    border: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 63%;
    justify-content: flex-end;
}

.gamer-banner-last-description-our{
    color: #534C64;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.813rem;
    margin: 1.5rem 0rem;
}

.gamer-banner-last-description{
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.813rem;
}
/* end gamer-banner style */


/* start game-card-video section */
.game-card-video-container{
    padding: 2.375rem 15rem 2.375rem 15rem;
}

.card-titles{
    margin-top: 3rem;
    text-align: center;
}

.game-card-video-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.game-card-video-color-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.game-card-video-description{
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.main-video-card{
    display: flex;
    gap: 1.5rem;
}


.video-description{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.875rem;
}

.watch-now-title{
    font-size: 1.25rem;
    font-weight: 600;
    color: #FF42A5;

}

.play-button{
    position: absolute;
    text-align: center;
    top: 115rem;
    right: 44rem;
    opacity: 0;
    
}

.play-button:hover{
    position: absolute;
    text-align: center;
    top: 115rem;
    right: 44rem;
    opacity: 100;
    transition: 500ms;
    cursor: pointer;
}
/* end game-card-video section */


/* start dabble-card section */
.section-four{
    padding: 7.5rem 15rem 7.5rem 27.438rem;
}

.dabble-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instantly-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
    width: 22.063rem;
}

.dabble-card-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.75rem;
    text-align: right;
    width: 22.063rem;
}


.dabble-card-description{
    width: 22.063rem;
    color: #534C64;
    text-align: right;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.875rem;
}

.dabble-card-moveing{
    position: absolute;
    top: 170rem;
    right: 45rem;
}

/* end dabble-card section  */


/* start button nine  */
.button-last-nine{
    padding: 7.5rem 15rem;
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.five-button{
    display: flex;
    justify-content: space-around;
}

.four-button{
    display: flex;
    justify-content: space-evenly;
}

.all-button-flex{
    display: flex;
    align-items: center;
    width: 15.5rem;
    height: 5rem;
    border-radius: 3.125rem;
    background: #fff;
    margin-bottom: 2rem;
    gap: 1rem; 
}

.all-button-flex:hover{
    border: 0.063rem solid #FF42A5;
    cursor: pointer;

}

.all-button-img-subtitel{
    color: #0B0223;
    font-size: 1.25rem;
    font-weight: 600;
}

.all-button-img-subtitel:hover{
    color: #FF42A5;
}

/* end button nine  */


/* start footer section  */
 footer{
    background-color: #0B0223;
    height: 20.75rem;
    padding: 7.5rem 0rem;
    

 }

 .main-footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .footer-logo{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

 .footer-logo-img{
    width: 5.378rem;
    height: 2.5rem;
}

.footer-logo-name{
    font-size: 2.813rem;
    font-weight: 700;
    color: #FFF;
}


.footer-link{
    display: flex;
    gap: 2rem;
    justify-content: center;
    
}
.footer-link > a > li{
    display: flex;
    color: #FFF;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 4rem;

}


.footer-social-link{
    display: flex;
    gap: 3rem;
    justify-content: center;
    
}

.footer-last-link{
    display: flex;
    gap: 3.75rem;
    margin: 3rem;
    justify-content: center;
}

.footer-last-link > a > li{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.policy{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
/* end footer section  */

/* @media screen section here */

/* mobile device  */
/* Mobile Responsive Styles */

@media screen and (max-width: 425px) {
    header {
      padding: 1.5rem;
    }

nav{
    flex-direction: column
}

.logo-name{
    font-size: 2rem;
}

.nav-link{
    flex-direction: column;
}

.banner-container{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.banner-hero{
    width: 400px;
}

.banner-description-bg{
    width: 400px;
}

.banner-description{
    font-size: 1rem;
}

..section-one{
    padding: 0rem 0rem;
}

}